@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.top-banner{
 background-image: url("./images/top-banner.png");
 background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
h1{
    font-size: 50px;
    padding-bottom: 25px;
}
h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.half-width p{
    color: dimgray;
    text-align: justify
}
.highlight{
    color: #733DD9;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.link-button{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(45deg,#733DD9,#47B87E);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width img{
    width: 100%;
}
.dream-area{
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exparience-area .boarder{
    /* border: 2px solid #000; */
    padding: 25px;
    box-shadow: 10px 10px 20px #000;
    height: 80%;
    border-radius: 5px;
    overflow: hidden;
}
.exparience-area {
    background-image: url("./images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exparience-area p{
    padding-top: 20px;
}
#full-stack{
   border-left: 7px solid #000;
   border-image: linear-gradient(180deg,rgb(250, 171, 139), tomato);
   border-image-slice: 1;
   background: #fff
}
#front-end{
    border-left: 5px solid ;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
